/*================= Root Colors =================*/
:root {
  --white: #fff;
  --black: #111;
}
/*================= End Of Root Colors =================*/

/*================= Dark Theme =================*/
[data-theme="dark"] {
  --white: #ffffff;
  --black: #111;
}
/*================= End Of Dark Theme =================*/

/*================= Light Theme =================*/
[data-theme="light"] {
  --white: #111;
  --black: #fff;
}
/*================= End Of Light Theme =================*/

body {
  background-color: var(--black);
  color: var(--white);
}

span {
  font-size: 2rem;
}

.links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4rem;
  border-bottom: 2px solid var(--white);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
